#set($pathTemplate = "./templates/") 
#set($strMonth = {"01":"января", "02":"февраля", "03":"марта", "04":"апреля", "05":"мая", "06":"июня", "07":"июля", "08":"августа", "09":"сентября", "10":"октября", "11":"ноября", "12":"декабря"})
#set($decLot = {"1":"лот", "2":"лота", "3":"лотов"})
#set($decDownload = {"1":"просмотр", "2":"просмотра", "3":"просмотров"})
#set($metricSize = {"B":"Б", "Kb":"Кб", "Mb":"Мб", "Gb":"Гб"})

<link rel="stylesheet" href="$!{viewBean.getContextPath()}/css/smoothness/jquery-ui.custom.css" type="text/css"/>
<script src="$!{viewBean.getContextPath()}/js/jquery.js" type="text/javascript"></script>
<script src="$!{viewBean.getContextPath()}/js/jquery-ui.custom.js" type="text/javascript"></script>
<script src="$!{viewBean.getContextPath()}/js/jquery.ui.datepicker-ru.js" type="text/javascript"></script>

<script type="text/javascript">
		var $jq_ao = jQuery.noConflict(true);
		var zoomMapAO = 10;
		var heightMapAO = 700;
</script>
	
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU&mode=release"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="$!{viewBean.getContextPath()}/css/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="$!{viewBean.getContextPath()}/js/jquery.fancybox.js"></script>

<!--<script src="$!{viewBean.getContextPath()}/js/lightbox.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="$!{viewBean.getContextPath()}/css/lightbox.css">-->
<!-- <script src="http://api-maps.yandex.ru/1.1/index.xml?key=ACNfEEwBAAAAaIs2agIAMhD_QwK_ro3HKh_7XW9VZRHCFpUAAAAAAAAAAACdW-0J1_EwIs_6TM3TucZtN9FQUg==~AJgqeU8BAAAAS5EBMwIAvfEMGHs8QprP7qaXoqT7dEYneLgAAAAAAAAAAAA3T-SvGVsy53DSyvi9vselOmVGEQ==" type="text/javascript"></script> -->

<script type="text/javascript">
	
	$jq_ao(document).ready(function(){
		
		$jq_ao(".datepicker_auctions_omsk").datepicker();
		//$jq_ao(".datepicker_to").datepicker();
		
		$jq_ao(".photoclick").click(function(){
			$jq_ao(this).parent().parent().next().click();	
		});	
		
		$jq_ao(".fancybox_ao").fancybox({
			openEffect : 'none',
			closeEffect : 'none',
			prevEffect : 'none',
			nextEffect : 'none',
			closeBtn : false,
			padding : 5,
			helpers : {
				title : {
					type : 'outside'
				},
				buttons : {}
			},
			afterLoad : function() {
				this.title = '<span style="display: inline;font-size: 13px;font-weight: bold;line-height: 1em;">' + this.title + '</span> ' + '<span style="clear: left;color: #e0e0e0;display: block;font-size: 12px;padding-bottom: 1em;">' + 'Изображение ' + (this.index + 1) + ' из ' + this.group.length + '</span>';
			}
		});
		
	});
	
</script>

<div class="autabs">
	<div>
		<span #if ($viewBean.getCurrentURL() == $viewBean.getFilingURL().toString()) class="active" #end><a href="$viewBean.getFilingURLForTab()">Подача заявок</a></span> <span #if ($viewBean.getCurrentURL() == $viewBean.getProcessingURL().toString()) class="active" #end><a href="$viewBean.getProcessingURLForTab()">Рассмотрение заявок</a></span> <span #if ($viewBean.getCurrentURL() == $viewBean.getResultURL().toString()) class="active" #end><a href="$viewBean.getResultURLForTab()">Итоги</a></span>
	</div>
	<div class="clear">&nbsp;</div>
</div>

#if ($viewBean.getCurrentURL() == $viewBean.getFilingURL().toString())
	#parse("${pathTemplate}view_tabs/filing.vm")
#end

#if ($viewBean.getCurrentURL() == $viewBean.getProcessingURL().toString())
	#parse("${pathTemplate}view_tabs/processing.vm")
#end

#if ($viewBean.getCurrentURL() == $viewBean.getResultURL().toString())
	#parse("${pathTemplate}view_tabs/result.vm")
#end



